.wrapper {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 240px);
  display: grid;
  width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 200px);
    width: 500px;
    margin-left: 20px;
  }
}

.headerComponents {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}