.titleTypes {
  float: left;
}

.inputsTypes {
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
}

.inputsTypes div {
  text-align: center;
}

input {
  padding: 2px;
  margin-top: 5px;
  border-radius: 3px;
  background-color: rgb(231, 231, 109);
  outline: none;
  opacity: 0.89;
  width: 100px;
}

input:hover {
  background-color: rgb(142, 182, 252);
  transition: 0.3s;
  border: 1px solid rgb(98, 132, 190) transparent;
}